@model PaymentRequest
@using Iamport.RestApi.Extensions
@using Iamport.RestApi.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "결제 확인 (Checkout)";
}
<ul class="form-horizontal">
    <li>결제 내용: @Model.Title</li>
    <li>결제 금액: @Model.Amount 원</li>
    <li>결제 수단: @Model.Method.GetDisplayName()</li>
</ul>
<p id="#result"></p>
<a id="checkout" class="btn btn-lg">결제</a>

@section scripts
{
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment.js"></script>
    <script type="text/javascript">
        $("#checkout").click(() => {
            $this = $(this);
            $this.prop("disabled", true);

            var IMP = window.IMP;
            IMP.init('@(Model.PaymentGateway == PaymentGateway.Inicis ? "iamport" : "iamport_nice")');

            IMP.request_pay(@JsonConvert.SerializeObject(Model), 
                function (rsp) {
                    if (rsp.success) {
                        var msg = '결제가 완료되었습니다.<br>';
                        msg += '고유ID : ' + rsp.imp_uid + '<br>';
                        msg += '상점 거래ID : ' + rsp.merchant_uid + '<br>';
                        msg += '결제 금액 : ' + rsp.paid_amount + '<br>';

                        if (rsp.pay_method === 'card') {
                            msg += '카드 승인번호 : ' + rsp.apply_num + '<br>';
                        } else if (rsp.pay_method === 'vbank') {
                            msg += '가상계좌 번호 : ' + rsp.vbank_num + '<br>';
                            msg += '가상계좌 은행 : ' + rsp.vbank_name + '<br>';
                            msg += '가상계좌 예금주 : ' + rsp.vbank_holder + '<br>';
                            msg += '가상계좌 입금기한 : ' + rsp.vbank_date + '<br>';
                        }
                        $('#result').addClass('bg-success');
                    } else {
                        var msg = '결제에 실패하였습니다.' + '<br>';
                        msg += '에러내용 : ' + rsp.error_msg + '<br>';
                        $('#result').addClass('bg-danger');
                    }

                    $('#result').html(msg).show();
            });

            return false;
        });
    </script>
}