@model Payment
@using Iamport.RestApi.Extensions
@using Iamport.RestApi.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "결제 결과";
}

@switch (Model.State)
{
    case PaymentState.Ready:
        <h2>미결제</h2>
        <ul class="form-horizontal">
            <li>결제 내용: @Html.Raw(Model.Name)</li>
            <li>결제 금액: @Html.Raw(Model.Amount) 원</li>
            <li>결제 수단: @Html.Raw(Model.Method.GetDisplayName())</li>
            @if (Model.Method == PaymentMethod.VirtualBank)
            {
                <li>입금 기한: @Html.Raw(Model.VirtualBankExpirationUtc.Value.ToString("yyyy년 MM월 dd일"))</li>
                <li>입금 은행: @Html.Raw(Model.VirtualBankName)</li>
                <li>계좌 번호: @Html.Raw(Model.VirtualBankAccount)</li>
                <li>예금주: @Html.Raw(Model.VirtualBankAccountHolder)</li>
            }
        </ul>
        break;
    case PaymentState.Paid:
        <h2>결제 완료됨</h2>
        <ul class="form-horizontal">
            <li>결제 내용: @Html.Raw(Model.Name)</li>
            <li>결제 금액: @Html.Raw(Model.Amount) 원</li>
            <li>결제 수단: @Html.Raw(Model.Method.GetDisplayName())</li>
            @if (Model.Method == PaymentMethod.CreditCard)
            {
                <li>승인 번호: @Html.Raw(Model.ApplyNumber)</li>
            }
            @if (Model.Method == PaymentMethod.VirtualBank)
            {
                <li>입금 은행: @Html.Raw(Model.VirtualBankName)</li>
                <li>계좌 번호: @Html.Raw(Model.VirtualBankAccount)</li>
                <li>예금주: @Html.Raw(Model.VirtualBankAccountHolder)</li>
            }
        </ul>
        break;
    case PaymentState.Cancelled:
        <h2>결제 취소됨</h2>
        <ul class="form-horizontal">
            <li>사유: @Html.Raw(Model.CancellationReason)</li>
            <li>취소금액: @Html.Raw(Model.CancellationAmount)</li>
        </ul>
        break;
    case PaymentState.Failed:
        <h2>결제 실패함</h2>
        <ul class="form-horizontal">
            <li>사유: @Html.Raw(Model.FailReason)</li>
        </ul>
        break;
    default:
        break;
}
